@import url('../src/app/fonts/fonts.module.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scrollbar-width: none;
}

h1, h2, h3 {
    font-family: 'Soka UltraBold', sans-serif;
    font-weight: 600;
    color: #F0EDE5;
}

h4 {
    font-family: 'Hiragino Mincho', serif;
    font-size: 1.8rem;
}

p {
    font-family: 'Hiragino Mincho', serif;
    font-weight: 500;
    color: #F0EDE5;
}

a {
    text-decoration: none;
    color: #F0EDE5;
}

::selection {
    background-color: #DB2D36;
    color: #F0EDE5;
}

::-webkit-scrollbar {
    display: none;
}