@import url('../src/app/fonts/fonts.module.css');

.Container {
    background-color: #131012;
}

.Main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px 120px 80px;
}

#Title {
    margin-bottom: 20px;
    font-size: 4rem;
}

#Description {
    width: 650px;
    line-height: 1.3;
    font-family: 'Soka Regular', sans-serif;
    font-size: 1.2rem;
}

.ButtonContainer {
    margin-top: 150px;
    font-family: 'Soka Regular', sans-serif;
}

#AboutUsButton {
    background-color: #DB2D36;
    padding: 10px 25px;
    letter-spacing: 5px;
    font-size: 1.5rem;
}

#SeeMenuButton {
    margin-left: 50px;
}

#IconButton {
    color: #DB2D36;
}

.PatternContainer {
    display: flex;
    flex-direction: row;
}

#CircleImage {
    margin-top: 50px;
    margin-right: 60px;
    width: 180px;
    height: 180px;
    background-color: #DB2D36;
    border-radius: 50%;
}

.ImageContainer,
.PatternContainer {
    position: relative;
}

.BackgroundPattern {
    position: relative;
    z-index: 1;
}

.TitleImage {
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 1;

    font-size: 8rem;
    font-family: 'Soka Regular', sans-serif;
    letter-spacing: 20px;
}

#RamenImage {
    position: absolute;
    z-index: 2;
    bottom: -70px;
    left: 0;
}


@media (max-width: 768px) {

    .Container { overflow: hidden; }
    
    .Main { 
        padding: 16px 24px 180px 24px;
        flex-direction: column; 
    }

    #Title { font-size: 2.6rem; }

    #Description {
        width: 380px;
        font-size: .8rem;
    }

    .ButtonContainer { 
        display: flex;
        justify-content: center;
        margin-top: 42px;
        
     }

    #AboutUsButton, #IconButton { display: none; }

    #SeeMenuButton {
        margin-left: 0px;
        padding: 10px 25px;
        background-color: #DB2D36;
    }

    .ImageContainer {
        margin-top: 64px;
    }

    #CircleImage {
        width: 140px;
        height: 140px;
        margin-top: 24px;
        margin-right: 24px;
    }

    #JapanesePattern {
        width: 140px;
        height: 248px;
    }

    .TitleImage {
        top: 45px;
        font-size: 3.5rem;
    }

    #RamenImage {
        width: 250px;
        height: 235px;
        bottom: -50px;
    }
}